/*本文書式*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
/*ページ幅・全体の設定*/
body {
    margin: 0;
    font-size: 16px;
    color: #333333;
    line-height: 1.875;
    font-family: 'Source Sans Pro', sans-serif;
}

#articlemain{
    width:800px;
    margin:0 auto;
}


/*ページヘッダー*/

#pagehead {
    display: flex;
    height: 60px;
    width: auto;
    justify-content: space-between;
}

#pagehead .globalnavi {
    display: flex;
    width: 100%;
}

#pagehead .globalnavi .logo{ 
    margin-left:30px;
    margin-top:10px;
}

#pagehead .globalnavi .pagelist{
    width: 100%;
}

#pagehead .iconlist{
    width: 180px;
    display: flex;
    margin-left:20px;
}

#pagehead .globalnavi .pagelist ul {
    display: flex;
    justify-content: flex-end;
}

#pagehead .globalnavi .pagelist ul li {
    display: inline-block;
    font-size: 14px;
    margin-left:20px;
}

#pagehead .globalnavi .pagelist ul li a{
    color:#000000;
    text-decoration:none;
    font-weight:bold;
}

/*右上アイコン*/

#pagehead .iconlist a {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 60px;
    margin: 0;
    text-align: center;
    text-decoration:none; 
}

/*topicpath*/
.topicpath{
    font-size:12px;
    margin:0 0 20px 125px;
}

.topicpath a{
    text-decoration: none;
    color:#999999;
}

.topicpath a :after{                       /*疑似要素*/
    content:">";
}

/*タイトル*/
.titletext{
    height:252px;
    width:100%;
    background-image: url(images/topimage.jpg);
    background-position: center;
    color:#FFFFFF;
    background-size:cover;
    position: relative;
}

.titletext p,
.titletext h1{
    position:absolute;
    left:260px;
    margin:0;
}

.titletext p{
    font-size:21px;
    top:40px;
}

.titletext h1{
    font-size:28px;
    top:80px;
}

/*メインページ*/
#articlemain .snsbutton{
   text-align:right;
   margin-top:35px;
}

#articlemain .snsbutton img{
    margin-left:20px;
}

#articlemain .snsbutton:before{       /*疑似要素*/
    content: "Share";
    display:inline-block;
    font-size:14px;
    vertical-align:6px;
}

#articlemain .articletext h2{
    background-image: url(images/midashi.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left:35px;
}

#articlemain .articleimage{
    margin:20px 0 20px 0;
}

#articlemain .articleimage figure{
    margin:0;
}

#articlemain .articleimage .btn{
    text-align:center;
    margin:45px 0 45px 0; 
}

#articlemain .articleimage .btn a:before{        /*疑似要素*/
    position: absolute;
    content:">";
    left:5px;
    top:30%;
}

#articlemain .articleimage .btn a{
    position:relative;
    display:inline-block;
    text-align:center;
    padding:15px;
    background-color:#005BAC;
    color:#FFFFFF;
    text-decoration: none;
    line-height: 1.125;
}

#articlemain .articleimage .btn a:after{
    position:absolute;
    display: inline-block;
    width:16px;
    height:16px;
    content:"";
    background-image:url("images/PDF_24.png");            /*疑似要素*/
    background-size:contain;
    vertical-align:middle;
}

#articlemain .prevandnext{
    display:flex;
    justify-content:space-between;
}

#articlemain .prevandnext span{
    margin:35px 0 45px 0;
}

#articlemain .prevandnext a{ 
    font-size:16px;
    color:#0C419A;
    text-decoration:none;
}

/*NRIの強みリスト部分*/
#articlemain .localnavi{
    width:800px;
    height:auto;
    background-color: #DEECF8;
    padding:20px 0 20px 0;
}

#articlemain .localnavi:after{
    display:block;
    content:"";
    clear:both;
}

#articlemain .localnavi h2{
    display:block;
    font-size:16px;
    margin:0 0 10px 20px;
    
}

#articlemain .localnavi a{
    position:relative;
    display:block;
    box-sizing:border-box;
    background-color:#FFFFFF;
    width:240px;
    padding:20px 10px 20px 10px;
    margin:0 0 20px 20px;
    text-align:center;
    float:left;
    text-decoration: none;
    color:#0C419A;
}

/*企業情報リスト部分*/
.companyinfomation{
    width:1000px;
    margin:auto;
    border-top:solid #000000 2px;
}

.companyinfomation h1{
    display:inline-box;
    font-size:20px;
    padding:25px 0 25px 0;
    margin:0;
    border-bottom:dotted 1px #999999;
}

.companyinfomation h2{
    font-size:16px;
    margin:20px 0 20px 0;
}

.companyinfomation ul{
    padding:0;
    display:flex;
    flex-flow:row wrap;
    border-bottom:dotted 1px #999999;
    padding-bottom:25px;
}

.companyinfomation ul li{
    position: relative;
    width:250px;
    height:40px;
    list-style-type: none;
    font-size:14px;
    color:#0C419A;
}

.companyinfomation a{
    color:#0C419A;
    padding-left:20px;
    text-decoration:none;
}

/*矢印アイコンの疑似要素の設定*/

#articlemain .localnavi a:before,
.companyinfomation ul li:before,
.companyinfomation p:before,
#contentlist h2:before,
#contentlist ul li :before{
    position:absolute;
    content:url("images/arrowright.png");
}

#articlemain .localnavi a:before{
    left:10px;
}