
/*本文書式*/

body{
    margin:0;
}

p {
    font-size:16px;
    color:#1B1D1D;
    line-height:1.875;
    font-family:"ヒラギノ角ゴ　ProN","Hiragino　Kaku　Gothic ProN","メイリオ","sans-serif";
}

/*全体の配置*/
#pagehead {
    margin:10px 0 25px 0;
}

/*headline*/
#pagehead  .headline{
    margin:10px 0;
}

#pagehead .headline:after{
    display:block;
    clear:both;
    content:"";
}
#pagehead .headline .logo{
    float:left;
    width:70px;
    height:30px;
    margin-left:35px;
}

#pagehead .headline .globalnavi{
    float:right;
    width: 1400px;
    height:30px;
    margin-top:10px;
    text-align: right;
}


#pagehead .headline .globalnavi :after{
    display:block;
    clear:both;
    content:"";
}

#pagehead .headline .globalnavi .iconlist{
    width:200px;
    float:right;
}

#pagehead .headline .globalnavi .pagelist{
    width:1000px;
    float:right;
}


#pagehead .headline .globalnavi .pagelist :after{
    display:block;
    clear:both;
    content:"";
}

#pagehead .headline .globalnavi .iconlist a,
#pagehead .headline .globalnavi .pagelist a{
    display:block;
    font-size:13px;
    float:right;
    line-height:1.429;
    font-weight:bold;
    margin-left:20px;
    }

#pagehead .headline .globalnavi .iconlist a{
    margin-left:37px;
    }

    
/*ハンバーガー*/
#pagehead .headline .humberger{
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right:20px;
}

#pagehead .headline .humberger div{
    position: absolute;
    left: 0;
    right:0;
    height: 2px;
    width: 20px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}

#pagehead .headline .humberger div:nth-of-type(1) {
    top: 0;
  }

#pagehead .headline .humberger div:nth-of-type(2) {
    top: 9px;
  }
#pagehead .headline .humberger div:nth-of-type(3) {
    bottom: 0;
  }
/*ここまでハンバーガー関係*/

/*topicpath*/

#pagehead .topicpath{
    margin-left:125px;
    vertical-align:bottom;
}

#pagehead .topicpath p{
    font-size:12px;
    line-height:1.5;
}

#articlemain{
    width:820px;
    margin:auto;
}

#pagefoot{
    width:1040px;
    margin:auto;
}

#articletitle {
    height:250px;
    width:100%;
    background-image: url("images/topimage.jpg");
    background-position:center;
    background-size:100% auto;
    background-repeat:no-repeat;
    position: relative;
}

#articletitle .titletext{
    background-color:rgba(0,0,0,0);
    display:inline-block;
    margin:0;
    position: absolute;
    left:260px;
    bottom:100px;
}

#articletitle .titletext p,
#articletitle .titletext h1{
    color:#FFF;
}

#articletitle .titletext p{
    font-size:18px;
}

#articletitle .titletext h1{
    font-size:26px;
    font-weight:bold;
    line-height:1.583;
    margin-top:16px;
}

#articlemain .articletext{
    width:800px;
    padding:0;
    background-color:#413;
    margin:10px;
}


#articlemain .articleimage figure{
    margin:0;
}