/* フォントの読み込み*/

@font-face {
    font-family: "AxisStd-UltraLight";
    src: url("../fonts/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix");
    src: url("../fonts/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix") format("eot"), url("../fonts/9debccc6-f756-4d46-a835-ac342ddbcaf0.woff2") format("woff2"), url("../fonts/726b29c5-dc24-49d5-a06e-107b62843f0b.woff") format("woff"), url("../fonts/fcf3fe94-ef76-4736-8626-e84ee1a9ba39.ttf") format("truetype"), url("../fonts/3d6f6af4-77aa-4896-b039-94e43492d9c6.svg#3d6f6af4-77aa-4896-b039-94e43492d9c6") format("svg");
}

@font-face {
    font-family: "AxisStd-ExtraLight";
    src: url("../fonts/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix");
    src: url("../fonts/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix") format("eot"), url("../fonts/9adc0413-55bd-4001-9bc0-f823476aa22e.woff2") format("woff2"), url("../fonts/25516da4-2e65-456a-bc9c-cc6960f6c384.woff") format("woff"), url("../fonts/8c439ac8-83ef-4635-a477-df9c64f97b62.ttf") format("truetype"), url("../fonts/93d1f11a-903e-4293-a2f1-cd55b87b5087.svg#93d1f11a-903e-4293-a2f1-cd55b87b5087") format("svg");
}

@font-face {
    font-family: "AxisStd-Light";
    src: url("../fonts/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix");
    src: url("../fonts/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix") format("eot"), url("../fonts/ca94208f-21dd-4dc8-ab7c-057d8dbfcccb.woff2") format("woff2"), url("../fonts/18820f9e-d51e-43be-9d0f-e510d9d1878a.woff") format("woff"), url("../fonts/cb3a3886-7dec-420d-bf42-698737ce3561.ttf") format("truetype"), url("../fonts/9bdde1f9-7637-4fa1-994d-2f2ad4929b1f.svg#9bdde1f9-7637-4fa1-994d-2f2ad4929b1f") format("svg");
    }

@font-face {
    font-family: "AxisStd-Regular";
    src: url("../fonts/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix");
    src: url("../fonts/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix") format("eot"), url("../fonts/d226afef-6536-4b18-9b28-defffcc4baae.woff2") format("woff2"), url("../fonts/6e9eb620-9339-4b2e-bb9b-d514def96de7.woff") format("woff"), url("../fonts/a71ba532-858c-440c-8abd-e89a2ae8efea.ttf") format("truetype"), url("../fonts/5d948218-1de1-4508-b1a6-fe03ccced886.svg#5d948218-1de1-4508-b1a6-fe03ccced886") format("svg");
}



/*フォント設定*/
body {
    font-family:"AxisStd-Light", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
    font-size:16px;
    line-height:1.81;
    color:#272727;
    background-color:rgb(255,255,255);
    margin:0;
}

.header-top,
.header-contents,
.header-navi-area,
.catchcopy__caption,
.intro-content__title,
.intro-content-topic__caption,
.main-content__title,
.main-content-text-block__caption,
.info,
.news-list-btn,
.sitemap-nav-bar,
.index-unit__title,
.page-foot__gotohome,
.page-foot__copyright{
    font-family:"AxisStd-Regular",sans-serif;
}


/*リストの見出しリセット*/
ul li{
    list-style-type: none;
}

/*アンカーテキストのフォントリセット*/
a{
    text-decoration:none;
}

/*ページ背景の設定*/
.local-navi-area{
    background-color:rgb(24,24,54);
}

.header-top,
.main-content--colored,
.submenu-area,
.sitemap,
.footer-sns-list
{
    background-color:rgb(247,247,247);
}

/*ページ幅の設定*/
.local-navi,
.topic-path,
.page-main__inner,
.aboutus,
.submenu-list,
.school-list{
    width:1060px;
    margin:auto;
}

/*ヘッダー部分*/

.header-top{
    margin:0;
    display:flex;
    padding:0 16% 0;
    justify-content:space-between;
    align-items:center;
    font-size:11px;
    line-height:1.36;         
}

.header-top__title{
    margin:0;
    font-weight:700;
}

.header-top__rightitem{
    display:flex;
    margin:0;
}


.header-top-nav-bar{
    display:flex;
    margin:0;
}

.header-top-nav-bar__item{
    font-weight:400;
    display:flex;
    align-items:center;
    margin:auto;
    border-right:solid 1px;
    padding:0 1em 0;
}


.header-top-nav-bar__item:last-child{
    border:none;
}

.header-top-nav-bar__link{
    display:inline-block;
    vertical-align:bottom;
    color:#676767;
}

.header-top__login{
    margin:0;
    padding:5px 10px 5px;
    font-weight:400px;
    background-color:rgb(217,217,217);
}

.header-top__loginlink{
    display:block;
    position:relative;
    line-height: 2em;
    padding-left:2em;   
}

.header-top__loginlink:before{
    position:absolute;
    left:0;
    content:"";
    display:inline-block;
    height:2em;
    width:2em;
    background:url(images/header_images/icon_site_mark01.png);
    background-repeat: no-repeat;
    background-size:contain;     
}

.header-top-nav-bar__link:hover,
.header-top__loginlink:hover{
    text-decoration:underline solid;
}

/*ヘッダータイトル部分*/
.site-title__name{
    width:211px;
    height:45px;
    vertical-align: bottom;
}

.site-title__link{
    display:block;
}

.header-contents{
    margin:20px 0 20px;
    padding:0 16% 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-contents__right{
    display:flex;
}
.header-callus{
    vertical-align: top;
    margin-right:40px;
}

.header-callus__num{
    vertical-align: bottom;
}

.header-callus__open{
    color:#8d959c;
    font-size:11px;
    margin:0;
    text-align:center;
}

.header-sns{
    display:flex;
    align-items:center;
}

.header-sns__icon{
    vertical-align: bottom;
}

.header-sns__link{
    display:inline-block;
    vertical-align:bottom;
}

/*ヘッダーグローバルナビ行*/
.header-navi-area{
    padding:0 16% 0;
    display:flex;
    align-items: center;
    margin-bottom:20px;   
}

/*グローバルナビ本体*/
.global-navi{
    color:#272727;
    display: flex;
    justify-content:center;
    padding:0;
    width:640px;
    height:30px;
    margin:0 50px 0 0;
}

.global-navi__item{
    text-align: center;
    vertical-align:bottom;
    font-size: 15px;
    font-weight:400;
    padding:0px;
    border-right:solid 1px #e1e1e1;
    flex-grow:1;
    line-height:1;
}

.global-navi__item--current,
.global-navi__item:hover{
    color:#1f286f;
}

.global-navi__item:first-child{
    border-left:solid 1px #e1e1e1;
}

.global-navi__link{
    display:block;
    width:100%;
    color:inherit
}

.global-navi__ruby{
    text-indent: 100%;
    display:inline-block;
    overflow: hidden;
    background-position:top center;
    background-repeat:no-repeat;
    width:100px;
    height:10px;
}

.global-navi__ruby--about,
.global-navi__ruby:hover{
    text-indent: 100%;
    display:inline-block;
    overflow: hidden;
    background-position:bottom center;
    background-repeat:no-repeat;
    width:100px;
    height:10px;
    color:#1f286f;
   }

/*画像は個別に別途指定*/
.global-navi__ruby--about{
    background-image:url(images/header_images/global_nav_about.png);

}

.global-navi__ruby--net{
    background-image:url(images/header_images/global_nav_net.png);
}

.global-navi__ruby--commute{
    background-image:url(images/header_images/global_nav_commute.png);
}

.global-navi__ruby--alliance{
    background-image:url(images/header_images/global_nav_alliance.png);
}


/*ボタン部分*/
.header-navi-area-btnlist{
    width:360px;
    display:flex;
    padding:0;
    flex-grow:1;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

.header-navi-area-btn{
    font-size:15px;
    font-weight: 700;
    padding:0;
    border:solid 1px;
    flex:1 1 50%;
    height:40px;
    margin-left:10px;
}

.header-navi-area-btn:first-child{
    margin:0;
}

.header-navi-area-btn__link{
    display:block;
    text-align: center;
    width:100%;
    height:100%;
    line-height:40px;
    position: relative;
}

.header-navi-area-btn__link:after{
    content:'\f105';
	font-family:'Font Awesome 5 Free';
    font-weight:900;
    position: absolute;
    right:10px;
}

.header-navi-area-btn__link:hover{
    background-color:#1f286f;
    color:#ffffff;
    transition:all 0.2s;
}

/*ローカルナビ*/
.local-navi-area{
    height:90px;
}

.local-navi-area:before{
    content:"";

}

.local-navi{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    height:inherit;
    padding:5px 0;
    box-sizing: border-box;
}

.local-navi__item{
    display:flex;
    align-items: center;
    height:35px;
    padding:0;
    margin-left:20px;
}

/*斜めボーダー部分*/
.local-navi__item:before{
    content:"";
    display:inline-block;
    height:20px;
    border-left:solid 2px #6e7b85;
    transform:skewX(-150deg);
    margin-right:20px;
    width:0;
}

.local-navi__item:first-child{
    margin-left:0;
}

.local-navi__item:first-child:before{
    content:"";
    height:0;
    width:0;
    transform:skewX(150deg);
    border-left:none;
}

.local-navi__link{
    display:inline-block;
    color:#ffffff;
    font-size: 14px;
    line-height:40px;
    height:inherit;
    padding:0 5px;
}

.local-navi__link:hover{
    background-color:#ffffff;
    color:#1f286f;
}

/*ページタイトル部分*/
.page-title{
    height:530px;
    width:100%;
    padding-top:60px;
    background-image:url(images/title_images/about_mainimage01.jpg);
    background-position:center;
    color:#FFFFFF;
    background-size:cover;
    position:relative;
    box-sizing: border-box;
}

.page-title__text{
    position: relative;
    text-align:center;
    margin:0 0 30px;
    font-size:52px;
    font-weight:400;
    color:#ffffff;
    line-height:94px;
    letter-spacing:0.42em;
}

.page-title__text:after{
    content:"";
    width:200px;
    border-bottom:solid 1px #ffffff;
    position: absolute;
    bottom:0;
    left:42.5%;
}

.page-title__img{
    text-align:center;
    position:absolute;
    left:45%;
    width:103px;
    height:14.4px;
}

/*topicpath*/
.topic-path-area{
    margin:0;
    padding:0;
    border-bottom:solid 1px #e1e1e1;
}

.topic-path{
    margin-top:15px;
    margin-bottom:15px; 
}

.topic-path__item{
    display:inline-block;
    margin:0;
    font-size:14px;
}

.topic-path__item--current{
    color:#272727;
    position:relative;
    padding-left:15px;
}

.topic-path__item--current::before{
    content:"＞";
    font-size:10px;
    position: absolute;
    left:0;
    top:15%;
}

.topic-path__link{
    color:#36538d;
    font-weight:400;
}

.topic-path__link:hover{
    text-decoration:underline;
}

.catchcopy,
.catchcopy__caption,
.catchcopy__text{
    width:630px;
    margin:0 auto;
}

.catchcopy{
    font-size:33px;
    font-weight:400;
    color:#272727;
    text-align: center;
    margin-top:80px;
    margin-bottom:80px;
    letter-spacing:0.3em;
}

.catchcopy__caption{
    font-size:22px;
    font-weight:400;
    text-align:center;
    padding-bottom:25px;
    margin-bottom:25px;
    position:relative;
}

.catchcopy__caption:after{
    content:"";
    display:block;
    border-bottom:solid 1px;
    width:200px;
    height:1px;
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    left:215px;
}

.catchcopy__text{
    font-size:16px;
    font-weight:500;  
}

/*教育方針以降*/
.intro-content__title{
    font-size:26px;
    font-weight:400;
    border-bottom:solid 1px;
    padding-bottom:10px;
    margin:45px 5px;
    position:relative;
}

/*変形ボーダーの太い部分*/
.intro-content__title:after{
    content:"";
    display:block;
    border-bottom:solid 2px;
    width:280px;
    height:3px;
    box-sizing: border-box;
    position:absolute;
    bottom:-1px;
    left:0;    
}

.intro-content{
    width:1060px;
}

.intro-content-list__keyword{
    font-size:24px;
    font-weight:400;
    display:inline-block;
}

.intro-content__text-block{
    margin-right:60px;
    width:500px;
    float:left;
}

.intro-content-imgblock{
    float:right;
    margin:0;
    padding:0;
}

.intro-content:after,
.intro-content-topic:after{
    display:block;
    content:"";
    clear:both;
}

.intro-content-topic{
    margin:80px 0;
}

